.leaderBoardBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "StratosSkyeng";
}

.leaderBoarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 944px;
  height: 142px;

}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.statisticItem {
  width: 944px;
  height: 64px;
  background-color: #ffffff;
  border-radius: 12px;
}

.playerStatistic {
  display: flex;
  align-items: center;
  height: 64px;
   font-size: 24px;
  padding: 20px 16px;

}
.statisticItem:first-child {
  color: #999999;
}


.firstColumn {
  width: 244px;
}

.secondColumn {
  width: 558px;
}

.thirdColumn {
  width: 102px;
}

.leaderBoardTitle {
  font-weight: 400;
  font-size: 32px;
}